/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #1eb58c;
  --vp-c-brand-2: #1eb58c;
}

/* 線の色 */
:root {
  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;
}

/* テキストの色 */
:root {
  --vp-c-text-1: rgb(26, 164, 172);
  --vp-c-text-2: rgba(34, 201, 165, 0.78);
}

/* ボタンの色 */
:root {
  --vp-c-default-1: #1eb58c;
  --vp-c-default-2: #1eb58c;
  --vp-c-default-3: #1eb58c;
  --vp-c-default-soft: #1eb58c;
}
